<!-- 
 <li><a routerLink="/today"><svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
  </svg>back</a></li>


<div class="flex justify-center">
    <h1 class="text-2xl ss">Journal heeeree ...</h1>
</div>


<div class="width=50vw" >
    
<div class="form-control">
    <label class="label">
        <span class="label-text">Title</span>
    </label>
    <input type="text" [(ngModel)]="cardinfo.title" placeholder="title" class="input input-bordered" />
</div>

<div class="form-control">
    <label class="label">
        <span class="label-text">New entry</span>
    </label>
    <textarea class="textarea textarea-bordered" [(ngModel)]="cardinfo.body" placeholder="entry"></textarea>
</div>

<div><button class="btn btn-wide flex justify-center rr" (click)="update()">Done</button></div>

</div> -->


<form [formGroup]="updateForm" (ngSubmit)="submit()">

  
        <a routerLink="/today">
            <svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" fill="currentColor"
                class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z" />
            </svg>
        </a>

   

    <div class="flex justify-center">
        <h1 class="text-2xl ss">Journal heeeree ...</h1>
    </div>

    <div class="width=50vw">

        <div class="form-control">
            <label class="label">
                <span class="label-text">Title</span>
            </label>
            <input type="text" placeholder="title" class="input input-bordered" formControlName="title"
                value={{title}} />
        </div>

        <div class="form-control">
            <label class="label">
                <span class="label-text">New entry</span>
            </label>
            <textarea class="textarea textarea-bordered" placeholder="entry" formControlName="body" value={{body}}>

            </textarea>
        </div>

        <div>
            <button type="submit" class="btn btn-wide flex justify-center rr">Done</button>
        </div>

    </div>
</form>