<app-navbar></app-navbar>


<div class="flex justify-center">
  <h1 class="text-2xl ss">I'm most thankful for ...</h1>
</div>
<div class="grid md:grid-cols-2 sm:grid-cols-2 xs:grid-cols-1 lg:grid-cols-4 gap-5 justify-center">

  <!-- <div class="card  bg-base-200 w-80 h-40 shadow-xl ss" *ngFor="let x of card; let num = index">

The button to open modal
    <label class="btn modal-button" for="my-modal" (click)="onSelect(x)">open modal</label>

  -->
  <input type="checkbox" id="my-modal" class="modal-toggle" />
  <div class="modal">
    <div class="modal-box">
      <!-- <h3 class="font-bold text-lg">{{selected.title}}</h3>
      <p class="py-4">{{selected.body}}</p> -->





      <div class="modal-action">
        <label for="my-modal" class="btn btn-ghost">
          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
          <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
        </svg></label>
      </div>





      <div class="flex justify-center">
        <h1 class="text-2xl ss">Journal heeeree ...</h1>
      </div>

      <div class="width=50vw">

        <div class="form-control">
          <label class="label">
            <span class="label-text">Title</span>
          </label>
          <input type="text" placeholder="title" class="input input-bordered" [(ngModel)]="title" />
        </div>

        <div class="form-control">
          <label class="label">
            <span class="label-text">New entry</span>
          </label>
          <textarea class="textarea textarea-bordered" placeholder="entry" [(ngModel)]="body">

            </textarea>
        </div>

        <div class="flex justify-between">
          <div class="modal-action">
            <label for="my-modal" class="btn" (click)="submit()">save</label>
          </div>

          <div class="modal-action">
            <label for="my-modal" class="btn" (click)="delete()">delete</label>
          </div>
        </div>
      </div>








    </div>
  </div>
  <!--
    <div class="card-body">
      <div class="row flex justify-between">

        <div class="col">
          <h2 class="card-title">{{x.title}} </h2>
        </div>
        <div class="dropdown dropdown-left-hover col">
          <label tabindex="0"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="25"
              class="bi bi-three-dots justify-right">
              <path
                d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z" />
            </svg></label>
          <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-40">
            <li><a routerLink="/journal/{{x.entryid}}">update</a></li>
            <label for="my-modal-5" class="btn modal-button" (click)="send(num)">delete</label>

          </ul>

        </div>

      </div>


      <p>{{x.body}}</p>
      <div class="card-actions justify-center">
       <button class="btn btn-primary">Buy Now</button> 
      </div>
    </div>
  </div>

</div>




<input type="checkbox" id="my-modal-5" class="modal-toggle m" />
<div class="modal">
  <div class="modal-box w-11/12 max-w-5xl">
    <h3 class="font-bold text-lg">Delete</h3>
    <p class="py-4">Are you sure you want to delete this card?</p>
    <div class="modal-action">
      <label for="my-modal-5" class="btn" (click)="delete()">Yes</label>
      <label for="my-modal-5" class="btn">No</label>
    </div>
  </div> -->
  <div class="card  bg-base-200 w-80 h-60 shadow-xl ss" *ngFor="let x of card; let num = index">
    <label class="btn modal-button bg-base-400" for="my-modal" (click)="onSelect(num)">view</label>
    <div class="card-body">
      <div class="row flex justify-between">

        <div class="flex flex-col">
          <h2 class="card-title">{{x.title}} </h2>
        </div>

      </div>
      <div class="flex flex-col">
        <p class="py-4">{{x.body}}</p>
      </div>
    </div>
  </div>
</div>